input {
    width: 100%;
}

textarea {
    width: 100%;
}

label {
    font-family: 'Alegreya', serif;
    color: rgb(255, 195, 0);
    font-weight: bold;
    font-variant: small-caps;
    font-size: 20px;
    
}

.panel {
    width: 100%;
}
