/* Nav Bar */
/* Menu */
.navbar .nav > li > a, .navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
	font-family:	Garamond;
	font-size:	1.3em;
	font-variant:	small-caps;
	padding-top:	20px;
	padding-left:	40px;
	padding-bottom:	0px;
}
 
/* Menu colors - Normal */
.navbar .nav > li > a, .navbar .nav > li > a{
	color:		rgb(170, 170, 170);
	text-shadow:	3px 3px 4px black;
}
/* Menu colors - Hover */
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover {
}

/* Menu colors - Active */
.navbar .nav > li > a:active, .navbar .nav > li > a:active,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
}
 
/* Dropdown Menu items */
.dropdown-menu > li > a {
	font-family: Helvetica;
}
 
/* Remove the Hover/Focus Colors  */
.navbar .nav > li.current-menu-item > a, .navbar .nav > li.current-menu-ancestor > a, 
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
} 

/* Body */
html, body {
    background: url("./img/Texture.png") repeat;
}
 
   .container #outctn {
        position: relative;
    }

    /* Logo */
    .logo {
        width: 100%;
        position: relative;
    }
    
    .logoctn {
        margin-top: -38%;
    }

    /* Banner */
    .banner {
        position: relative;
        width: 100%;
        margin:auto;
    }

    .btnctn {
        margin-top: -18%;
    }

    .leaderboard {
        border-radius: 10px;
        font-color: black;
        background-color: white;
        border: solid gray 2px;
        margin-top: -6%;
    }
    .btn-play {
        position: relative;
        width: 100%;
        color: white;
        background-color: red;     
        border-radius: 8px;
    }


@media (min-width: 960px) {
    .btn-play {
        font-size: 30px;
    }
}

@media (max-width: 960px) {

    .leaderboard h1 {
        font-size: 15px;
    }   
    .leaderboard h4 {
        font-size: 12px;
    }
    .leaderboard p {
        font-size: 10px;
    }
} 
