@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

/* Nav Bar */
.navbar .nav > li > a, .navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
	font-family:	Garamond;
	font-size:	1.3em;
	font-variant:	small-caps;
	padding-top:	20px;
	padding-left:	40px;
	padding-bottom:	0px;
}
.navbar .nav > li > a, .navbar .nav > li > a{
	color:		rgb(170, 170, 170);
	text-shadow:	3px 3px 4px black;
}
.navbar {
    margin-bottom: 0px;
}
.dropdown-menu > li > a {
	font-family: Helvetica;
}

/* Background image (Index.php) */
.bg {
    background-image: url("./img/victory2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Divs */
div.div1 {
    background: url('./img/textures/metalBlue.png');
    background-repeat: repeat;
    background-size: 300px 300px;
    padding-top: 0px;
}
div.div2 {
    background: url('./img/textures/metalLight.png');
    background-repeat: repeat;
    background-size: 300px 300px;
}
#border-gold { 
    border: 50px solid transparent;
    -webkit-border-image: url("./img/borders.png") 50 round; /* Safari 3.1-5 */
    -o-border-image: url("./img/borders.png") 50 round; /* Opera 11-12.1 */
    border-image: url("./img/borders.png") 50 round;
}


/* Body */
body, html{
 
    background: url('./img/textures/metalDark.png'); 
    background-repeat: repeat;
    height: 100%;
    margin: 0;
}

/* Table Image */
td > img {
    padding: 10px;
}
/* Fonts & Headings */
h1 {
    font-family: 'Alegreya', serif;
    margin-top: 0px;
    padding-top: 0px;
    color: rgb(255, 195, 0);
    font-weight: bold;
    font-variant: small-caps;
    font-size:  80px;
    text-shadow: -1px -1px 3px black;
}
h2 {
    font-family: 'Alegreya', serif;
    margin-top: 0px;
    padding-top: 0px;
    color: rgb(255, 195, 0);
    font-weight: bold;
    font-variant: small-caps;
    font-size: 50px;
}
h3 {
    font-family: 'Alegreya', serif;
    margin-top: 0px;
    padding-top: 0px;
    color: rgb(255, 195, 0);
    font-weight: bold;
    font-variant: small-caps;
    font-size: 30px;
}
p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 17px;
}

/* Logo (on index.php) */
.logo {
    width: 500px;
}

@media screen and (max-width: 768px) {
    /* Fonts */
    h1 {
        font-size: 9vw;
	/*font-size: 65px;*/ 
    }
    h2 {
        /*font-size: 40px;*/
	font-size: 5vw;
    }
    h3 {
        /*font-size: 30px;*/
	font-size: 3vw;
    }

    /* Divs */
    div {
        margin: 0px;
        padding: 0px;
    }

    /* Logo */
    .logo {
        width: 300px;
    }
}


/* Horizontal Line */
hr {
    background-color: darkgrey;
    color: darkgrey;
}

/* Table */
table {
    table-layout: fixed;
    width: 100%;
}

/* Buttons */
.btn-fancy-play {
    background: url('./img/buttons/play/play.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-play:hover {
    background: url('./img/buttons/play/playHover.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-play:active {
    background: url('./img/buttons/play/playActive.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-download {
    background: url('./img/buttons/download/download.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-download:hover {
    background: url('./img/buttons/download/downloadHover.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-download:active {
    background: url('./img/buttons/download/downloadActive.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-login {
    background: url('./img/buttons/login/login.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-login:hover {
    background: url('./img/buttons/login/loginHover.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-login:active {
    background: url('./img/buttons/login/loginActive.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-signup {
    background: url('./img/buttons/signup/signup.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-signup:hover {
    background: url('./img/buttons/signup/signupHover.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-signup:active {
    background: url('./img/buttons/signup/signupActive.png');
    background-repeat: no-repeat;
    background-size: 242px; 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-submit {
    background: url('./img/buttons/submit/submit.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-submit:hover {
    background: url('./img/buttons/submit/submitHover.png');
    background-repeat: no-repeat;
    background-size: 242px 90px;
    width: 242px;
    height: 90px;
}
.btn-fancy-submit:active {
    background: url('./img/buttons/submit/submitActive.pnt');
    background-repeat: no-repeat;
    background-size: 242px; 90px;
    width: 242px;
    height: 90px;
}

.btn-simple {
	background: #c28603;
	color: white;
	font-family: 'Alegreya', serif;
}
