/* Nav Bar */
/* Menu */
.navbar .nav > li > a, .navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
	font-family:	Garamond;
	font-size:	1.3em;
	font-variant:	small-caps;
	padding-top:	20px;
	padding-left:	40px;
	padding-bottom:	0px;
}
 
/* Menu colors - Normal */
.navbar .nav > li > a, .navbar .nav > li > a{
	color:		rgb(170, 170, 170);
	text-shadow:	3px 3px 4px black;
}
/* Menu colors - Hover */
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover {
}

/* Menu colors - Active */
.navbar .nav > li > a:active, .navbar .nav > li > a:active,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
}
 
/* Dropdown Menu items */
.dropdown-menu > li > a {
	font-family: Helvetica;
}
 
/* Remove the Hover/Focus Colors  */
.navbar .nav > li.current-menu-item > a, .navbar .nav > li.current-menu-ancestor > a, 
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
} 

/* Body */
html, body {
    background: url("./img/Texture.png") repeat;
}

/* CSS Styling for desktops */
@media (min-width: 960px) {
    
    .container {
        position: relative;
    }

    /* Logo */
    .logo {
        width: 40%;
        position: relative;
        margin-left: 31.5%;
        margin-top: 2%;
    }

    /* Banner */
    .banner {
        position: absolute;
        width: 100%;
        margin: auto;
        top:0;
    }

    /*LeaderBoard*/
    .leaderboard {
        background-color: white;
        position: absolute;
        border-radius: 10px;
        border: 2px solid;
        border-color: gray;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        top: auto;
        left: 22%;
        width: 60%;
        
    }
  
    .btn-play
    {
        background-color: red;
        color: white;
        position: relative;
        padding: 18px 28px;
        font-size: 22px;
        border-radius: 8px;
        width: 21%;
        margin-left: 41%;
        margin-top: 10%;
    }

}


/* CSS Styling for mobiles */
@media (max-width: 960px) {

    .container {
        position: relative;
    }

    .logo {
        position: relative;
        margin-left: 30%;
        width: 40%;
        margin-top: 2%;     
    }

    .banner {
        margin: auto;
        width: 100%;
        position: absolute;
        top:0;
        left:0;
    }   

    .leaderboard {
        background-color: white;
        max-width: 250px;
        border-radius: 10px;
        border: 2px solid;
        border-color: gray;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }

    .leaderboard h1 {
        font-size: 10px;    
    }

    .leaderboard h4 {
        font-size: 8px;
    }

    .btn-play {
        background-color: red;
        color: white;
        font-size: 10px;
        position: relative;
        margin-left: 39.5%;
        margin-top: 5%;
        width: 21%;
    }

} 

