/*.profile {
	position:absolute;
	top: 50%;
	left: 50%;
	padding: 40px 40px;
	transform: translate(-50%, -50%);
	width: 1200px;
	height: 500px;
	background-image: url("../img/wowDoge.jpg");
	z-index: -999;

}
*/

.profile {
    background-image: url("../img/wowDoge.jpg");
    padding: 30px 30px;
    background-size: cover; 
    position: absolute;
    width: 100%;
}

@media (min-width: 960px) {
    .profile {
        height: 100%;
    }
}

@media (max-width: 960px) {
    .profile {
        height: auto;
    }
}
/*
.profilePic{
	position:absolute;
	left: 50px;
    top: 50px;
	float:left;
}
*/

.img {
    width: 100%;
    margin: 0;      
    
}

.selectimg {
    margin: 0px;
       
}

@media (min-width: 960px) {

    img {
        max-width: 50%;
    }
}

@media (max-width: 960px) {

    img {
        max-width: 100%;
    }
}

.profile userinfo {
    position: absolute;
    top: 30px;
    margin: 0px;
    padding: 0px;
    color: white;  
}

/*
@media (min-width: 960px) {
   .profile userinfo {
       font-size: 30px;
   }    
}
*/
/*.profile username { */
/*.profile userinfo {
    position:absolute
	top: 30px;
	left: 40%;
	color: white;
	font-size: 40px;
}
/*
.userinfo{ 
	position: static;
}


.profile email{
	position:absolute;
	top: 90px;
	left: 40%;	
	font-size: 18px;
	text-align: center;
	color: white;
	font-size: 35px;
}

.email{
	position:static;
}
*/

.addFriend {
	position:absolute;
	left: 500px;
	top: 200px;
	font-size: 20px;
}

.message {
	position:absolute;
	left: 510px;
	top: 250px;
	font-size: 20px;
}

.box {
	position: relative;
    margin: 0px 0px 0px 0px;
	background: white;
	padding: 5px 0px;
	text-align: center;
    border-radius: 20px;
    left:0;
}

.box2 {
    position: relative;
    top: 110px;
	padding: 0px;
	text-align: center;*/
    margin: 0px;
    
}

.button {
	  font-size: 1em;
	  width: 10px;
	  padding: 10px;
	  color: black;
	  cursor: pointer;
}
.button:hover {
  	background: #8c8c8c;
}

.overlay {
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: rgba(0, 0, 0, 0.7);
	  transition: opacity 500ms;
	  visibility: hidden;
	  opacity: 0;
}
.overlay:target {
	  visibility: visible;
	  opacity: 1;
}

.popup {
	  padding: 20px;
	  background: #fff;
	  border-radius: 5px;
	  position: relative;
      top: 30%;
  }


.popup h2 {
	  margin-top: 0;
	  color: #333;
}
.popup .close {
	  position: absolute;
	  top: 20px;
	  right: 30px;
	  transition: all 200ms;
	  font-size: 30px;
	  font-weight: bold;
	  text-decoration: none;
	  color: #333;
}
.popup .close:hover {
  	color: #999999;
}
.popup .content {
	  max-height: 30%;
	  overflow: auto;
}

*/
