.addFriend {
	position:absolute;
	left: 500px;
	top: 200px;
	font-size: 20px;
}

.message {
	position:absolute;
	left: 510px;
	top: 250px;
	font-size: 20px;
}


.overlay {
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: rgba(0, 0, 0, 0.7);
	  transition: opacity 500ms;
	  visibility: hidden;
	  opacity: 0;
}
.overlay:target {
	  visibility: visible;
	  opacity: 1;
}

.popup {
	  padding: 20px;
	  background: #fff;
	  border-radius: 5px;
	  position: relative;
      top: 30%;
      color: black;
}


.popup h2 {
	  margin-top: 0;
	  color: #333;
}
.popup .close {
	  position: absolute;
	  top: 20px;
	  right: 30px;
	  transition: all 200ms;
	  font-size: 30px;
	  font-weight: bold;
	  text-decoration: none;
	  color: #333;
	  z-index: 1;
}
.popup .close:hover {
  	color: #999999;
}
.popup .content {
      max-height: 30%;
      overflow: auto;
}



body {

  background-color: #F1F3F3    
}
.axis {
  font: 15px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.toolTip {
    line-height: 1.5;
    font-weight: 400;
    font-family: arial;
    padding: 6px;
    background: white;
    color: black;
    border-radius: 1px;
    pointer-events: none;
    height: auto;
    position: absolute;
}
#barChart {
  position: absolute;
  padding: 3px;
  line-height: 1;
  right: 0px;
  bottom: -50px;
  width: 400px;
  
  
}


.selecting[type=file] {
    background: #c28603;
	color: white;
	font-family: 'Alegreya', serif;
}

