/*login css styling */

input {
	width: 100%;
	margin-bottom: 25px;
}

input[type="user"], input[type="password"], input[type="email"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	color: #fff;
    font-size: 17px;
}

form {
    color: white;
}
