#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#postContainer {
    position: absolute;
    display: none;
    z-index: 2;
    top: 15%;
    padding: 0px 0px 0px 0px;
    background-color: white;
}

h4 {
        color: white;
}

#postContainer form {
    border-radius:10px;
    font-family:raleway;
}


#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#searchBar {
        padding-bottom: 30px;
}

#searchBar #hdrContainer button {
        height: 34px;
}

#postContainer .profInfo h3 {
        font-style: italic;
        font-family: sans-serif;
        font-size: 10px;
        font-weight: 2;
        text-align: center;
}

hr {
        border:1;
        border-top:1px solid #ccc;
        margin:0px;
}

#postContainer h1 {
        padding:20px 35px;
        margin:-1px;
        text-align:center;
        border-radius:10px 10px 0 0;
        font-family:sans-serif;
        color: black;
        font-size: 20px;
}

#postContainer h2 {
        font-family: sans-serif;
        font-size: 15px;
        text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
}

textarea {
        width:100%;
        height:150px;
        margin-top:0px;
        border: 1px solid #ccc;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 16px;
        font-family: sans-serif;
        margin-bottom: 0px;
}

#postContainer input[type="dropdown-menu"] {
        /*width: 40%;*/
        font-size: 14px;
        padding-left: 10px;
}


#postContainer input[type="text"] {
        width: 100%;
        font-size: 14px;
        /*padding-left: 10px;*/
}

#postContainer .button {
        margin-top: 0px;
        margin-left: 0px;
}

#searchBar #discussionButton {
/*      margin: 0px;*/
        margin-top: 2px;
        padding: 10px;
}

#searchBar #myProfButton {
        margin-top: -1px;
        margin-right: 8px;
        padding: 10px;
}

#searchBar input[type="text"] {
        width: 100%;
        font-size:14px;
        padding-left: 10px;
}

body {font-family: "Lato", sans-serif;}

/* Style the tab */
#tabContainer #tab {
    overflow: hidden;
        border: 1px solid  #333;
}

/* Style the buttons inside the tab */
#tabContainer #tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
#tabContainer #tab button:hover {
   /* background-color: #ddd;*/
        background-color:white;
        color: white;
}

/* Create an active/current tablink class */
#tabContainer #tab button.active {
    background-color:black;
}

/* Style the tab content */
#tabContainer .tabcontent {
    display: none;
    padding: 6px 6px 6px 6px;
    /*overflow:scroll;*/

    border: 1px solid #333;
    border-top: none;
    background-color:white;
}

.div2 {
        margin-bottom: 20px;
    padding: 10px;
    /*background-color: #e6e6e6;*/
overflow:auto;
    border-radius: 5px;
}


