html, body {
    background-image: url("../img/wowbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.transparent-background {
    background-color: rgba(0, 0, 0, .5);
    padding: 15px;
}

.transparent-background > img {
    width: 100px;
    height: 125px;
    margin: 15px;
}
