/*Css style for downloadgame page*/

/*@media (min-width: 780px) {
	.btn {
		text-align: center;
	}
}*/

/*.btn {
	margin: 0px;
	padding: 0pxl;
}*/

/*#btmctnr {
	margin-top: 0px;
	background-color: rgba(0,0,0,0.5);
	margin-left:0px;
	padding:0px;
}*/

/*
.hdrctnr {
	background-color: rgba(0,0,0,0.5) !important;
	padding: 5px;
	margin-bottom: 0;
	margin-top: 0;
	border-radius: 20px 20px 0px 0px; 
}*/

/*.jumbotron h1 {
	font-family: Palatino;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;

}*/

/*.jumbotron p {
	text-align: center;
	font-family: Garamond;
	color: white;
	font-size: 15px;
}*/

table {
	border-collapse: separate;
	background-color:white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	opacity: .5;
	font-size: 11px;
	margin-top: 10px;
	margin-left: auto;
}

th {
    	border-top: none;
}

td:first-child, th:first-child {
     	border-left: none;
}

td, th {
    	border-left: solid gray 1px;
    	border-top: solid white 1px;
}

